#topdiv{
	background-color:black ;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

#mididv{
    background-color: antiquewhite;
    color:black;
    font-family: Arial, Helvetica, sans-serif;

}

#lastdiv{
    background-color: azure;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 500px;
    padding-right: 500px;
    font-family: Arial, Helvetica, sans-serif;
}